body {
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'lato', sans-serif !important;
}